<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "Discord Bot - <%=bot.ayar.fetch(`botlar.${id}.isim`)%>";
document.title = title;
  
</script>
<div class="post post-single">

                  <br>
                        <div class="post-meta">
                            <div align="center"><span class="yapimci"><i class="fa fa-clock-o"></i> <strong>Yapımcı: </strong><a href="/kullanici/<%=bot.ayar.fetch(`botlar.${id}.sahipid`)%>"><%=bot.ayar.fetch(`botlar.${id}.sahip`)%></a></span><a style="color:#222"> | </a>
                            <span class="oy"><a class="oy"><i class="fa fa-star"></i> <%=bot.ayar.fetch(`botlar.${id}.oy`) || 0%> Oy</a></span>
                        <% if(bot.ayar.has(`botlar.${id}.sertifika`) === true) { %>
                            | <span><img src="https://cdn2.iconfinder.com/data/icons/rewards-1/512/medal-512.png" width="20px" height="20px"> <a style="color:darkorange">Sertifikalı</a></span>
                         <% } %>
                          </div>
                        </div><br>
                        <div class="post-thumbnail">
                          <div align="center"><img src="<%=bot.ayar.fetch(`botlar.${id}.avatar`)%>"
                          
                          
                                                       
                               <span width="210" height="210" class="botavatar"><br><span class="botisim"><%=bot.ayar.fetch(`botlar.${id}.isim`)%></span> 
                            <br>
                            <br>
                            <br>
                              <h5 class="kisaaciklama"><%=bot.ayar.fetch(`botlar.${id}.kisaaciklama`)%></h5>
                               <%let botdurum = bot.users.filter(user => user.id === bot.ayar.fetch(`botlar.${id}.id`)).map(user => user.presence.status)

                              %>
                      
                            
                            <span class="botdurum"><span class="botdurum-icon-<%= botdurum %>"></span></span>  
                          
                          </div>
                          
        <div alig ="left">
          <button class="botprefix" style="cursor:default;"><span class="botprefix-sol">Prefix:</span> <%=bot.ayar.fetch(`botlar.${id}.prefix`)%></button>
          
      <%if (bot.ayar.has(`botlar.${id}.destek`)){%>
                 <a href="<%=bot.ayar.fetch(`botlar.${id}.destek`)%>"><button class="destek">Destek Sunucusu</button></a>
            <%} %>
          
          <%if (bot.ayar.has(`botlar.${id}.site`)){%>
                 <a href="<%=bot.ayar.fetch(`botlar.${id}.site`)%>"><button class="website">Web Sitesi</button></a>
            <%} %>
          
          <%if (bot.ayar.has(`botlar.${id}.github`)){%>
                 <a href="<%=bot.ayar.fetch(`botlar.${id}.github`)%>"><button class="github">Github</button></a>
            <%} %>
          </div>
      <div align="center" style="margin-top: 10px;">                    
  <% if (!user) { %>
        <a href="/giris"><button class="oyy oyver">Oy Verebilmek İçin Giriş Yapmalısın <i class="fa fa-lock"></i></button></a>
                    <% } else { %>
        <a href="/bot/<%=id%>/oyver"><button id="oy" href="/bot/<%=id%>/oyver" class="oyver" type="sumbit"><i aria-hidden="true"></i> Oy Ver</button></a>
                      <% } %>
            
          <a href="https://discordapp.com/oauth2/authorize?client_id=<%=id%>&scope=bot&permissions=8"><button class="davetet"><i aria-hiddden="true"></i> Davet Et</button></a>
        <a href="/bot/<%=id%>/rapor"><button class="rapor"><i aria-hidden="true"></i>Rapor Et</button></a>
        
          <% if (user) { %>
          <% if(bot.ayar.fetch(`botlar.${id}.sahipid`) === user.id) { %>
          <a href="/kullanici/<%= user.id %>/panel/<%=id%>/sertifikaiste"><button id="sertifikaiste" href="/kullanici/<%= user.id %>/panel/<%=id%>/sertifikaiste" class="sertifikaiste" type="sumbit"><i aria-hidden="true"></i> Sertifika İste</button></a>
          <a href="/bot/<%=id%>/tokenal"><button class="davetet"><i aria-hiddden="true"></i> Token al</button></a>
        <a href="/kullanici/<%=user.id%>/panel/<%=id%>/duzenle"><button class="duzenle"><i aria-hiddden="true"></i> Düzenle</button></a>
        <a href="/kullanici/<%=user.id%>/panel/<%=id%>/sil"><button class="sil "><i aria-hidden="true"></i> Sil</button></a>
          <% } %>
                    <% if (bot.yetkililer.includes(user.id) === true) { %>
    <a href="/bot/<%=id%>/oylarisil"><button class="sil"><i aria-hidden="true"></i> Oyları Sil</button></a>
      <% } %>
        <% } %>
                      
                </div>  
  </div>
  <br>
  <div class="uzunaciklama" class="jimbotron">
    <% if (bot.ayar.has(`botlar.${id}.uzunaciklama`) || bot.ayar.fetch(`botlar.${id}.uzunaciklama`) !== undefined || bot.ayar.fetch(`botlar.${id}.uzunaciklama`) !== null) { %>
<% var xx %>
<% for (var ii = 0; ii < bot.tags.length; ii++) { %>
  <% if(bot.ayar.fetch(`botlar.${id}.uzunaciklama`).includes(bot.tags[ii]) === false) {%>
    <% xx = false %>
 <% } %>
    <% if (bot.ayar.fetch(`botlar.${id}.uzunaciklama`).includes(bot.tags[ii]) === true) { %>
     <% x = true %>
    <% } %>
<% } %>

<% if (x === false) { %>
  <p><%=bot.ayar.fetch(`botlar.${id}.uzunaciklama`)%></p>
<% } else if (x === true) { %>
    <% let $ = bot.htmll.load(bot.ayar.fetch(`botlar.${id}.uzunaciklama`)) %>
  <%- $.html() %>
    <% } %>
    
    <% } else { %>
    <p>Bir Discord botu işte!</p>
    <% } %>
    
  <br></div>
        
        </div><br>
          <div class="post-actions">
                  <div class="post-tags">
                   <div align="center" style="margin-bottom: 20px;">
                      <%if(Array.isArray(bot.ayar.fetch(`botlar.${id}.etiket`)) === false) {%>
                      <span class="etiket"><a><%=bot.ayar.fetch(`botlar.${id}.etiket`)%></a></span>
                      <% } else { %>
                      <% for(var xx = 0; xx < bot.ayar.fetch(`botlar.${id}.etiket`).length; xx++) {%>
                      <span class="etiket"><a><%=bot.ayar.fetch(`botlar.${id}.etiket`)[xx]%></a></span>
                    <% }%>
                      <% }%>
                    </div>
                   </div>
              </div>
      </div>
</div>

<% include ./ek/footer %>

<!DOCTYPE html>
<html>
<head>

<style>
body {
	background-image: url("https://images4.alphacoders.com/909/thumb-1920-909912.png");
} 

</style>

</head>

<body>

</body>
</html>


    </noscript>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        background-color: white;
        font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
      }

      main {
        padding: 1rem;
      }

      p {
        max-width: 500px
      }

      .note{
        font-size: small;
        color: #9B9B9B;
      }

      .content{
        margin: 50px;
        position: fixed;
      }

      #loader:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: ellipsis steps(4,end) 1000ms infinite;
        content: "\2026";
        width: 0px;
      }

      @keyframes ellipsis {
        to {
          width: 1.25em
        }
      }

      canvas#background {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }
    </style>
  </head>

  <body>
    <main>
      <div class="content">
        <p class="status">
          <span id="message"></span>
          <span id="loader" ></span>
        </p>
        <p class="note">
        </p>
      </div>
    </main>
    <canvas id="background"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/1.9.4/bowser.min.js"></script>

<script>
// drawing

var canvas, context, canvasImage;

var cursorPosition = {
  x: undefined,
  y: undefined,
};
var color = '#e5e5e5';
var size = 5;

function randomColor() {
  var colors = [
    '#fcd1c4',
    '#abfcec',
    '#a3d9e1',
    '#fbbfff',
    '#a9ef8f',
    '#fff0b2',
    '#fff0b2',
  ];
  color = colors[Math.floor(Math.random() * colors.length)];
}

function throttle(ms, fn) {
  var lastCallTime;
  return function () {
    var now = Date.now();
    if (!lastCallTime || now - lastCallTime > ms) {
      lastCallTime = now;
      fn.apply(this, arguments);
    }
  }
}

function drawCircle(event) {
  context.beginPath();
  context.arc(cursorPosition.x, cursorPosition.y, size, 0, 2 * Math.PI);
  context.closePath();
  context.fillStyle = color;
  context.fill();
  canvasImage = context.getImageData(0, 0, window.innerWidth, window.innerHeight);
}

window.onload = function () {
  randomColor();
  canvas = document.getElementById('background');
  canvas.width = window.innerWidth;
  canvas.height = window.innerHeight;
  context = canvas.getContext('2d');

  window.onresize = throttle(100, function () {
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    context.clearRect(0,0, window.innerWidth, window.innerHeight);
    canvasImage && context.putImageData(canvasImage, 0, 0);
  });

  window.onmousemove = throttle(10, function (event) {
    cursorPosition = {
      x: event.clientX,
      y: event.clientY,
    };
    drawCircle(event);
  });

  window.ontouchmove = throttle(10, function (event) {
    cursorPosition = {
      x: event.touches[0].clientX,
      y: event.touches[0].clientY,
    };
    drawCircle(event);
  });
}
</script>
