<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "Discord Bot | Discord Bot List";
document.title = title;
document.getElementById("botlar").classList.add('active');
</script>
<div class="container">
 <br>
 <br>
 <br>
<h3 align="center" style="color:	#f22933;margin-top:25px;">
    <strong>Sistemde <%=Object.keys(bot.ayar.fetch('botlar')).length;%> Bot Bulunmakta 
    </strong></h3>
<div align="center">
    <input type="search" placeholder="Aramak İstediğiniz Botun İsmi" id="ara" name="ara">
  </div>
<h3 align="center" style="color:#fff">
    <strong>TÜM BOTLAR
    </strong></h3>
  <h6 align="center" style="color:#fff">
    <strong>Botlar oylara göre sıralanır.
    </strong></h6>
  <br>
  <br><br><br>
  <style>
    .kutucuk {
      background-color: #293f79;
      width: 350px;
      padding: 30px;
      padding: 25px;
      border-radius: 10px;
      margin-bottom: 8px;
      margin-right: 10px;
      display: inline-block;
    }
        .kutucuk2 {
      background-color: #7289EA;
      width: 400px;
      padding: 30px;
      padding: 25px;
      border-radius: 10px;
    }
    .roxzaninresmi{
      border-radius: 10px;
    }
    .roxzatextler{
      font-size: 45px;
    }
    .roxzatext{
      font-size: 35px;
      overflow: hidden;
      text-overflow: visible;
      color: #222;
      padding: 8px;
      border-radius: 2px;
      user-select:none;
    }
     .sertifika{
      border-radius: 10px;
    }
  </style>
  
  <style type="text/css">
.alonebutton {
	background-color:#525453;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
text-indent:0;
	border:1px solid #303830;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #525453;
}.alonebutton:hover {
	background-color:#525453;
  color: gray;
}.alonebutton:active {
	position:relative;
	top:1px;
}</style>

 <br>
   
             <div class="row">
  
  <% if (bot.ayar.has('botlar')) { %>
  <%for(var i = 0; i < 10; i++) { %>
 <% const sorted = Object.keys(bot.ayar.fetch('botlar')).sort((a, b) => { return (bot.ayar.fetch(`botlar.${b}.oy`) || 0) - (bot.ayar.fetch(`botlar.${a}.oy`) || 0) }) %>
  <% const top = sorted.splice(0, Object.keys(bot.ayar.fetch('botlar')).length) %>
  <% const map = top.map(x=>x) %>
	<% for(var i = 0; i < Object.keys(bot.ayar.fetch('botlar')).length; i++) { %>
  <% let idd = map[i] %>
   <% if(bot.ayar.has(`botlar.${idd}.durum`) === true) { %>
		<% if (bot.ayar.fetch(`botlar.${idd}.durum`) === "Onaylı") { %>
  <div class="kutucuk">
    <div class="row no-gutters">
        <div class="col-md-5">
         

                             <% if(bot.ayar.has(`botlar.${idd}.sertifika`) === true) { %>
                          <img src="https://cdn.discordapp.com/emojis/522886304615366676.png" width="30px" height="30px">


               <% } %>
<img data-toggle="tooltip" data-placement="bottom" title="<%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%>" src="<%=bot.ayar.fetch(`botlar.${idd}.avatar`)%>" class="card-img-top h-100" style=" border-radius: 50%;width: 120px;height: 120px !important;margin: 14px" alt="..." onerror="this.onerror=null;this.src='https://cdn.discordapp.com/attachments/415626207607128076/526891779992322078/sunucuicon.png'">        </div>
        <div class="col-md-7">
                      <div class="card-body">

                       <%  if(bot.ayar.fetch(`botlar.${idd}.durum`) === 'Onaylı') { %>
       <div class="badge badge-success">Onaylanmış</div>
       <% } %>
 
                      <h5 class="card-title"><%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%></h5>
              <h6 class="text-white"><%=bot.ayar.fetch(`botlar.${idd}.kisaaciklama`)%></h6>
        <h6 style="user-select:none;">Kütüphane: <%=bot.ayar.fetch(`botlar.${idd}.kutuphane`)%>                                             <div class="badge badge-danger"><strong style='color: white;'>Oy: </strong><span style='color:whitesmoke;text-transform: none;'><%=bot.ayar.fetch(`botlar.${idd}.oy`)||0%></span></div>


            </div>
        </div>
    </div>
       <div class="btn-group">
        <a class="alonebutton" href="https://discordapp.com/oauth2/authorize?client_id=<%=idd%>&scope=bot&permissions=8"><i class="fa fa-link mr-9"></i> Davet Et</a>
        </div>
           <div class="btn-group">
               <a class="alonebutton" href="/bot/<%=idd%>"><i class="fa fa-eye mr-9"></i> İncele</a>
            </div>
</div>
      <% } %>
    <% } %>
   <% } %>
   <% } %>
  <nav class="pagination is-centered has-text-white mt-5">
<ul class="pagination-list has-text-white">
<li><a class="pagination-link has-text-white is-current" href="/bots?page=2"><i class="fa fa-angle-right"></i></a></li>
</ul>
</nav>
   <% } else {%>
   <center><h5 style="color:#222">
     Sistemde hiç bot bulunmuyor.
     </h5></center>
   <% } %>
   </div>

</div></div></div>

<script>
$(document).ready(function(){
 $("#ara").keyup(function(){
    var value = $(this).val().toLowerCase();
    $(".col-12, .col-sm-6, .col-md-4 .card").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
  //etiket filtresi
  $("#etiketselect").change(function(){
    var value = $(this).val();
    if (value === 'noneFilter') {
      window.location.reload(true);
      return
    }
    $(".col-12, .col-sm-6, .col-md-4 .card").filter(function(){
      $(this).toggle($(this).text().indexOf(value) > -1)
    });
  })
  ;
});
</script>
  
<% include ./ek/footer %>

<!DOCTYPE html>
<html>
<head>

<style>
body {
	background-image: url("https://images4.alphacoders.com/909/thumb-1920-909912.png");
} 

</style>

</head>

<body>

</body>
</html>