<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "Discord Bot - Kullanıcı Paneli";
document.title = title;
document.getElementById("kullanıcı").classList.add('active');
</script>
<div class="container">
  <div align="center" class="jumbotron">
    <%
    var txt = `${kisi.username}#${kisi.discriminator} adlı kullanıcının profilini görmek için tıkla`
    if (user) {
      if (user.id === kisi.id) {
        var txt = `Profilini görmek için tıkla`
      }
    }
    %>
     
    
       <img src="https://cdn.discordapp.com/avatars/<%=kisi.id%>/<%=kisi.avatar%>.png?size=512" class="rounded-circle panell">
     <br>
     <br>
     <br>
       <h5 style="color:#fff"><%=kisi.username%>#<%=kisi.discriminator%></h5>
       <a href="/kullanici/<%=kisi.id%>/profil" class="btn btn-default" style="background:linear-gradient(to right,#542fe6 0,#643dff 100%); color:#fff"><%=txt%></a>
       <% if (user) { %>
       <% if (user.id === kisi.id) { %>
       <a href="/kullanici/<%=kisi.id%>/panel" class="btn btn-default" style="background:linear-gradient(to right,#542fe6 0,#643dff 100%); color:#fff">Panele gitmek için tıkla</a>
       <% } %>
       <% } %>
  </div>
</div>
</div></div>
<% include ./ek/footer %>


<!DOCTYPE html>
<html>
<head>

<style>
body {
	background-image: url("https://images4.alphacoders.com/909/thumb-1920-909912.png");
} 

</style>

</head>

<body>

</body>
</html>


    </noscript>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        background-color: white;
        font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
      }

      main {
        padding: 1rem;
      }

      p {
        max-width: 500px
      }

      .note{
        font-size: small;
        color: #9B9B9B;
      }

      .content{
        margin: 50px;
        position: fixed;
      }

      #loader:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: ellipsis steps(4,end) 1000ms infinite;
        content: "\2026";
        width: 0px;
      }

      @keyframes ellipsis {
        to {
          width: 1.25em
        }
      }

      canvas#background {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }
    </style>
  </head>

  <body>
    <main>
      <div class="content">
        <p class="status">
          <span id="message"></span>
          <span id="loader" ></span>
        </p>
        <p class="note">
        </p>
      </div>
    </main>
    <canvas id="background"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/1.9.4/bowser.min.js"></script>

<script>
// drawing

var canvas, context, canvasImage;

var cursorPosition = {
  x: undefined,
  y: undefined,
};
var color = '#e5e5e5';
var size = 5;

function randomColor() {
  var colors = [
    '#fcd1c4',
    '#abfcec',
    '#a3d9e1',
    '#fbbfff',
    '#a9ef8f',
    '#fff0b2',
    '#fff0b2',
  ];
  color = colors[Math.floor(Math.random() * colors.length)];
}

function throttle(ms, fn) {
  var lastCallTime;
  return function () {
    var now = Date.now();
    if (!lastCallTime || now - lastCallTime > ms) {
      lastCallTime = now;
      fn.apply(this, arguments);
    }
  }
}

function drawCircle(event) {
  context.beginPath();
  context.arc(cursorPosition.x, cursorPosition.y, size, 0, 2 * Math.PI);
  context.closePath();
  context.fillStyle = color;
  context.fill();
  canvasImage = context.getImageData(0, 0, window.innerWidth, window.innerHeight);
}

window.onload = function () {
  randomColor();
  canvas = document.getElementById('background');
  canvas.width = window.innerWidth;
  canvas.height = window.innerHeight;
  context = canvas.getContext('2d');

  window.onresize = throttle(100, function () {
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    context.clearRect(0,0, window.innerWidth, window.innerHeight);
    canvasImage && context.putImageData(canvasImage, 0, 0);
  });

  window.onmousemove = throttle(10, function (event) {
    cursorPosition = {
      x: event.clientX,
      y: event.clientY,
    };
    drawCircle(event);
  });

  window.ontouchmove = throttle(10, function (event) {
    cursorPosition = {
      x: event.touches[0].clientX,
      y: event.touches[0].clientY,
    };
    drawCircle(event);
  });
}
</script>
